<div class="bland-popup">
  <br/>
  <h2 class="title">{{heroName | uppercase}} Details</h2>
  <hr />
  <div class="hero-details">
    <div class="details-div">
      <span class="bold">Id: </span><span>{{heroId}}</span><br/>
      <span class="bold">Hero Name: </span><span>{{heroName}}</span><br/>
      <span class="bold">Abilities:</span>
      <ul>
        <li *ngFor="let ability of heroAbilities; let i = index">
            <span class="ability">{{i+1}}. {{ability}}</span>
        </li>
      </ul>
    </div>
    <div *ngIf="rank" class="rank"
    [class.gold]="rank == 1"
    [class.silver]="rank == 2"
    [class.bronze]="rank == 3"
    [class.regular]="rank > 3">
      <img src="assets/rank-icon.png" class="circle" />
      <span class="bold">{{rank}}</span>
    </div>
    <div class="change-rank">
      <button type="button" class="button circle" (click)="onRankUp()">+</button><br />
      <button type="button" class="button circle" (click)="onRankDown()">-</button>
    </div>
  </div>
  <hr />
  <div class="image-div">
    <h2 class="image-subtitle">What do they look like?</h2><br/>
    <img *ngIf="image" src="{{image}}" class="hero-image"><br/>
    <h4 *ngIf="!image" class="no-image-text">(no image currently saved, go to 'Edit Hero' to add one)</h4>
  </div>
  <hr />
  <div class="bottom-buttons-div">
    <button type="button" class="button" (click)="this.openEdit.emit()">Edit Hero</button>
    <button type="button" class="button square" (click)="deleteHero()" title="Delete hero">
      <img src="assets/trash-icon.png" />
    </button>
  </div>
</div>