.popup {
    text-align: center;

    .close-button {
        float:right;
    }

    .title {
        margin-bottom: 0px;
    }
}

.canvas {
    width: 500px;
    height: 500px;
}

.tool-menu {
    width: 90%;
    margin: auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.tool-menu button, .color-menu button {
    width: 35px;
    height: 35px;
    margin: 5px;
    border: 1px solid #9e9e9e;
    border-radius: 5px;

    &.text {
        width: 60px;
        font-weight: bold;
        box-shadow: none;

        &:disabled {
            color: #6b6b6b;
            background-color: #a7a7a7;
            border: 1px solid #6b6b6b;
        }
    }
}

.tool-menu button:hover {
    background-color: #e6e6e6;
    border-color: #9b9b9b;
}

.tool-menu button.selected {
    background-color: #949494;
    border-color: #6b6b6b;
}

.tool-menu img {
    width: 20px;
    height: 20px;
}

.tool-menu span {
    color: lightgray;
    font-size: 35px;
    text-align: center;
    flex: 1;
}

.tool-menu .color-circle {
    width: 31px;
    height: 31px;
    border: 2px solid gray;
    border-radius: 50%;
    margin: 5px;
}

/* Color menu */
.color-menu {
    width: 90%;
    margin: auto;
    text-align: left;
    margin-bottom: 10px;
}

.color-menu button {
    vertical-align: top;
}

.color-menu button.selected {
    border-width: 5px;
}