.header {
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(90deg, rgba(77, 238, 250, 0) 0%, #23a7b1 50%, rgba(77, 238, 250, 0) 100%);

    h1 {
        color: white;
        margin: 10px;
    }
}