<div>
    <button type="button" class="popup-bg" (click)="this.close.emit()"></button>
    <div class="popup">
        <button type="button" class="button circle close-button" (click)="this.close.emit()">x</button>
        <br /><br />
        <h2 class="title">Add Hero</h2>
        <hr />
        <h3 for="hero-name" class="name-subtitle">Name:</h3>
        <input id="hero-name" [(ngModel)]="heroName" autocomplete="off" placeholder="Name" maxlength="15"><br/>
        <div class="abilities-subtitle">
            <h3>Abilities:</h3>
            <button type="button" class="button circle" (click)="addAbility()">+</button>
        </div>
        <ul class="modern-scrollbar">
            <li *ngFor="let ability of heroAbilities; let i = index; trackBy: trackByIndex">
                <label for="hero-ability-{{i}}" class="id-label">{{i+1}}.</label>
                <input id="hero-ability-{{i}}" [(ngModel)]="heroAbilities[i]" autocomplete="off" placeholder="Ability #{{i+1}}" maxlength="35">
                <button type="button" class="button circle" (click)="removeAbility(i)">-</button>
            </li>
        </ul>
        <br/>
        <button type="button" class="button" (click)="addHero()">Add Hero</button>
    </div>
</div>