div.popup {
    width: 40em;
    height: 29em;
    text-align: center;

    .close-button {
        float:right;
    }

    .title {
        margin-bottom: 0px;
    }

    .name-subtitle {
        margin-bottom: 0px;
    }

    .abilities-subtitle {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    ul {
        height: 150px;
    }
}