<div>
    <button type="button" class="popup-bg" (click)="onClose()"></button>
    <div class="popup align-center">
        <button type="button" class="button circle align-right" (click)="onClose()">x</button>
        <br /><br />
        <h2 class="no-bottom-margin">Edit Hero</h2>
        <hr />
        <h3 for="hero-name" class="no-bottom-margin">Name:</h3>
        <input id="hero-name" [(ngModel)]="heroName" autocomplete="off" placeholder="Name" maxlength="15"><br/>
        
        <br/>
        <h3 class="no-bottom-margin no-height-margin">Image:</h3><br/>
        <button type="button" class="button" (click)="onOpenDraw()">Draw🖌️</button>
        <input id="imageUpload" type="file" accept="image/*" class="hidden" (change)="onUploadImage($event)" />
        <label for="imageUpload" type="button" class="button">Upload Image</label>
        
        <br/><br/>
        <div class="align-items-row">
            <h3>Abilities:</h3>
            <button type="button" class="button circle" (click)="addAbility()">+</button>
        </div>
        <ul class="modern-scrollbar">
            <li *ngFor="let ability of heroAbilities; let i = index; trackBy: trackByIndex">
                <label for="hero-ability-{{i}}">{{i+1}}.</label>
                <input id="hero-ability-{{i}}" [(ngModel)]="heroAbilities[i]" autocomplete="off" placeholder="Ability #{{i+1}}" maxlength="35">
                <button type="button" class="button circle" (click)="removeAbility(i)">-</button>
            </li>
        </ul>
    </div>
</div>