<h2 class="title">My Favorite Heroes</h2>
<div class="heroes-div">
  <div class="left-div">
    <ul class="heroes grid">
      <li *ngFor="let hero of heroes; let i = index">
        <button [class.selected]="hero.id === selectedHeroId" type="button" (click)="onSelect(hero.id)"
          [class.gold]="i == 0"
          [class.silver]="i == 1"
          [class.bronze]="i == 2"
        >
          <span class="badge">{{i+1}}</span>
          <span class="name">{{hero.name}}</span>
          <img class="trophy" *ngIf="i < 3" src="assets/trophy-icon.png">
        </button>
      </li>
      <li *ngIf="heroes.length < MAX_HEROES">
        <button type="button" class="add-hero" (click)="onOpenAddPanel()">
          <span class="badge">+</span>
          <span class="name">ADD HERO!</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="right-div">
    <app-hero-detail *ngIf="selectedHeroId != undefined && !isEditPanelOpen && !isDrawPanelOpen" [heroId]="selectedHeroId" [heroName]="getSelectedHeroName()" [rank]="getSelectedHeroRank()" (openEdit)="onOpenEditPanel()" (delete)="onDeleteHero()" (rankUp)="onRankUp()" (rankDown)="onRankDown()"></app-hero-detail>
  </div>
</div>
<app-add-hero-panel *ngIf="isAddPanelOpen" (close)="onCloseAddPanel()" (add)="onAddHero($event)" />
<app-edit-hero-panel *ngIf="isEditPanelOpen && !isDrawPanelOpen && selectedHeroId != undefined" [heroId]="selectedHeroId" [heroName]="getSelectedHeroName()" (close)="onCloseEditPanel($event)" (openDraw)="onOpenDrawPanel($event)" />
<app-draw-hero-panel *ngIf="isDrawPanelOpen && selectedHeroId != undefined" [heroId]="selectedHeroId" [heroName]="getSelectedHeroName()" (close)="onCloseDrawPanel()" />