<h2 style="margin-left: 20px;margin-bottom: 10px;">My Favorite Heroes</h2>
<div style="display: flex;">
  <div style="width: 50%;margin: 10px;">
    <ul class="heroes grid">
      <li *ngFor="let hero of heroes; let i = index">
        <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)"
          [class.gold]="i == 0"
          [class.silver]="i == 1"
          [class.bronze]="i == 2"
        >
          <span class="badge">{{i+1}}</span>
          <span class="name">{{hero.name}}</span>
          <img class="trophy" *ngIf="i < 3" src="assets/trophy-icon.png">
        </button>
      </li>
      <li *ngIf="heroes.length < MAX_HEROES">
        <button type="button" (click)="onOpenAddPanel()">
          <span class="badge" style="background-color: #a3a3a3;font-weight: bold;">+</span>
          <span class="name">ADD HERO!</span>
        </button>
      </li>
    </ul>
  </div>
  <div style="width: 50%;margin:20px;margin-top: 15px;">
    <app-hero-detail *ngIf="selectedHero" [hero]="selectedHero" [rank]="heroes.indexOf(selectedHero)+1" [openEdit]="onOpenEditPanel" [deleteHero]="onDeleteHero" [rankUp]="onRankUp" [rankDown]="onRankDown"></app-hero-detail>
  </div>
</div>
<app-add-hero-panel *ngIf="isAddPanelOpen" [close]="onCloseAddPanel" [addHero]="onAddHero" />
<app-edit-hero-panel *ngIf="isEditPanelOpen && selectedHero" [close]="onCloseEditPanel" [hero]="selectedHero" />